<header class="sticky-top">
  <!-- Upper Header -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Brand Name -->
      <a href="/" class="navbar-brand w-50 h-50 me-auto">
        <img class="w-50 h-50" src="/images/logo.png"></img>
      </a>

      <!-- Search Bar -->
      <form class="d-flex" action="/search" method="get">
        <div class="input-group">
          <input class="form-control rounded-start border-end-0" name="query" type="search"
            placeholder="Search..." aria-label="Search">
          <button class="btn bg-white rounded-0 rounded-end border border-start-0" type="submit" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>

      {{#if user}}
      <!-- Logged in Offcanvas Trigger -->
      <button class="navbar-toggler ms-3 border-light" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasLoggedin" aria-controls="offcanvasLoggedin" id="user-btn">
        <span class="navbar-toggler-icon"></span>
      </button>
      {{else}}
      <!-- Login/ Signup Modals Trigger -->
      <a href="#" class="link-light ms-3" data-bs-toggle="modal" data-bs-target="#modalLoginRegister"
        id="anonymity-btn">
        <i class="bi bi-person-circle"></i>
        Log in
      </a>
      {{/if}}
    </div>
  </nav>
  <!-- Upper Header -->

  <!-- Categories Navigation -->
  <nav class="navbar navbar-expand-sm navbar-light bg-light p-0">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-between">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">
              <i class="bi bi-house-door"></i> Home
            </a>
          </li>
        </ul>
        {{#each categories}}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="/search?category={{name}}" role="button">
              {{name}}
            </a>
            <div class="dropdown-menu">
              {{#each children}}
              <a class="dropdown-item" href="/search?category={{name}}">{{name}}</a>
              {{/each}}
            </div>
          </li>
        </ul>
        {{/each}}
      </div>
    </div>
  </nav>
  <!-- Categories Navigation -->
</header>

{{> sidebar this}}

{{> modals/login this}}
{{> modals/forgotpw this}}
{{> modals/resetcode this}}
{{> modals/resetpw this}}
{{> modals/info this}}
{{> modals/subscriptions this}}