<main class="my-3 bg-light">
  <!-- Main Article -->
  <div class="row g-2">
    {{#with article}}
    <!-- Detail -->
    <div class="col-md-9">
      <div class="container">
        <!-- Category and Date Time -->
        <div class="row row-cols-2">
          <div class="col text-start small fw-bold text-muted">
            <a href="/search?category={{category.name}}" class="text-decoration-none">
              {{category.name}}
            </a>
          </div>
          <div class="col text-end small">
            <p class="text-muted">
              {{publishedAt}}
            </p>
          </div>
        </div>

        <!-- Title and Content -->
        <div class="d-flex flex-column">
          {{title}}
          {{summary}}
          <img src="{{bannerImageUrl}}" width="70%" height="" style="margin: auto"/>
          {{content}}
        </div>

        <!-- Tags and Reporter -->
        <div class="row row-cols-2">
          <div class="col text-start small">
            <span>tags: </span>
            {{#each labels}}
            <a href="/search?label={{name}}" class="text-decoration-none">
              {{name}}
            </a>
            {{/each}}
          </div>
          <div class="col text-end">
            <p class="fw-bold">
              {{createdBy.penName}}
            </p>
          </div>
        </div>
      </div>
    </div>
    {{/with}}
    <!-- Detail -->

    <!-- Same Category -->
    <div class="col-md-3">
      <div class="position-sticky top-0">
        <a class="h5 fw-bold" href="/search?category={{article.category.name}}"><i class="bi bi-book-half"></i> In this section</a class="h5">
        {{#each relatedArticles}}
        <div class="card">
          <img class="card-img-top" src="{{bannerImageUrl}}" alt="Card image cap">
          <div class="card-body small">
            <h6 class="card-title">
              <a href="/article/{{slug}}">
                {{title}}
              </a>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              <a href="/search?category={{category.name}}">
                {{category.name}}
              </a>
            </h6>
            <p class="card-text">
              {{summary}}
            </p>
            <p class="card-text small text-muted">{{createdBy.penName}} - {{publishedAt}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <!-- Same Category -->
  </div>
  <!-- Main Article -->

  <!-- Comment Section -->
  <div class="row">
    <div id="comment-container" class="col-md-9">
      <!-- Reply -->
      <div class="card">
        <form id="comment-input">
          <div class="card-body">
            <h5 class="card-title">COMMENT</h5>
            <div class="form-group">
              <label for="comment">Leave your comment below:</label>
              <textarea class="form-control" id="comment-text" rows="2"></textarea>
            </div>
          </div>
          <div class="card-footer text-end bg-white border-0">
            <button id="reply-new" {{#if user}} type="submit" {{else}} type="button" data-bs-toggle="modal" data-bs-target="#modalLoginRegister" {{/if}} class="btn">Reply</button>
          </div>
        </form>
      </div>
      <!-- Reply -->

      <!-- Old Comments -->
      {{#each comments}}
      <div class="card mt-2">
        <div class="card-body">
          <div class="media">
            <img src="{{createdBy.avatarUrl}}">
            <div class="media-body">
              <h5 class="mt-0">{{createdBy.firstName}} {{createdBy.lastName}}</h5>
              <p>
                {{content}}
              </p>
            </div>
            <p class="card-text small text-muted">{{createdAt}}</p>
          </div>
          <div class="d-flex align-items-center mt-3">
            <a href="#" class="like-input me-3 position-relative">
              <i class="bi bi-hand-thumbs-up"></i> Like
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{reactCount}}
                <span class="visually-hidden">Total Likes</span>
              </span>
            </a>
            <a href="#" class="reply-old">Reply</a>
          </div>
        </div>

        <!-- Nested Replies -->
        {{!-- <div class="card-footer bg-white border-0">
          <a href="#" class="nested-replies">
            <i class="bi bi-arrow-return-right"></i> 32 Replies
          </a>
          <!-- Reply Children -->
          <div class="replies-container hstack gap-1">
            <div class="vr"></div>
            <div class="container-fluid small">
              <!-- First Child -->
              <div class="card">
                <div class="card-body">
                  <div class="media">
                    <img src="https://via.placeholder.com/25x25">
                    <div class="media-body">
                      <h6 class="mt-0">Joke Doe</h6>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A officiis
                        quaerat
                      </p>
                    </div>
                    <p class="card-text small text-muted">Posted 3 days ago</p>
                  </div>
                  <div class="d-flex align-items-center mt-3">
                    <a href="#" class="like-input me-3 position-relative">
                      <i class="bi bi-hand-thumbs-up"></i> Like
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        3
                        <span class="visually-hidden">Total Likes</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- First Child -->

              <!-- Second Child -->
              <div class="card">
                <div class="card-body">
                  <div class="media">
                    <img src="https://via.placeholder.com/25x25">
                    <div class="media-body">
                      <h6 class="mt-0">Jekeke Doe</h6>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A officiis
                        quaerat
                      </p>
                    </div>
                    <p class="card-text small text-muted">Posted 3 days ago</p>
                  </div>
                  <div class="d-flex align-items-center mt-3">
                    <a href="#" class="like-input me-3 position-relative">
                      <i class="bi bi-hand-thumbs-up"></i> Like
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        3
                        <span class="visually-hidden">Total Likes</span>
                      </span>
                    </a>
                  </div>
                </div>
              </div>
              <!-- Second Child -->
            </div>
          </div>
          <!-- Reply Children -->
        </div> --}}
        <!-- Nested Replies -->
      </div>
      {{/each}}
      <!-- Old Comments -->
    </div>
  </div>
  <!-- Comment Section -->
</main>