<main class="my-3 bg-light">
  <!-- Main Article -->
  <div class="row g-2">
    {{#with article}}
    <!-- Detail -->
    <div class="col-md-9">
      <div class="container">
        <!-- Category and Date Time -->
        <div class="row row-cols-2">
          <div class="col text-start small fw-bold text-muted">
            <a href="/search?category={{category.name}}" class="text-decoration-none">
              {{category.name}}
            </a>
          </div>
          <div class="col text-end small">
            <p class="text-muted">
              {{formatDate publishedAt}}
            </p>
          </div>
        </div>

        <!-- Title and Content -->
        <div class="d-flex flex-column">
          <h2>
            {{title}}
            {{#if @root.user}}
            {{#if isPremium}}
            <a href="/pdf/{{slug}}" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" title="Download PDF">
              <i class="bi bi-download"></i>
            </a>
            {{/if}}
            {{/if}}
          </h2>
          <br>
          {{summary}}
          <br>
          <img src="{{bannerImageUrl}}" width="70%" height="" style="margin: auto"/>
          <br>
          {{content}}
        </div>

        <!-- Tags and Reporter -->
        <div class="row row-cols-2">
          <div class="col text-start small">
            <span>tags: </span>
            {{#each labels}}
            <a href="/search?label={{name}}" class="text-decoration-none">
              {{name}}
            </a>
            {{/each}}
          </div>
          <div class="col text-end">
            <p class="fw-bold">
              {{createdBy.penName}}
            </p>
          </div>
        </div>
      </div>
    </div>
    {{/with}}
    <!-- Detail -->

    <!-- Same Category -->
    <div class="col-md-3">
      <div class="position-sticky top-0">
        <a class="h5 fw-bold" href="/search?category={{article.category.name}}"><i class="bi bi-book-half"></i> In this
          section</a class="h5">
        {{#each relatedArticles}}
        <div class="card">
          <img class="card-img-top" src="{{bannerImageUrl}}">
          <div class="card-body small">
            <h6 class="card-title">
              <a href="/article/{{slug}}">
                {{title}}
              </a>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              <a href="/search?category={{category.name}}">
                {{category.name}}
              </a>
            </h6>
            <p class="card-text">
              {{summary}}
            </p>
            <p class="card-text small text-muted">{{createdBy.penName}} - {{formatDate publishedAt}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <!-- Same Category -->
  </div>
  <!-- Main Article -->

  <!-- Comment Section -->
  <div class="row">
    <div id="comment-container" class="col-md-9">
      <!-- Reply -->
      <div class="card">
        <form id="comment-form" action="/article/{{article.id}}/comment" method="post">
          <input name="articleId" value="{{article.id}}" hidden>
          <div class="card-body">
            <h5 class="card-title">COMMENT</h5>
            <div class="form-group">
              <label for="comment">Leave your comment below:</label>
              <textarea id="comment-text" class="form-control" name="content" rows="2"></textarea>
            </div>
          </div>
          <div class="card-footer text-end bg-white border-0">
            <button id="reply-new" {{#if user}} type="submit" {{else}} type="button" data-bs-toggle="modal"
              data-bs-target="#modalLoginSignup" {{/if}} class="btn">Reply</button>
          </div>
        </form>
      </div>
      <!-- Reply -->

      <!-- Old Comments -->
      {{#each comments}}
      <div class="card mt-2">
        <div class="card-body">
          <div class="media">
            <img class="rounded-circle object-fit-cover border border-dark border-2" style="width: 50px; height: 50px;" src="{{createdBy.avatarUrl}}">
            <div class="media-body">
              <h5 class="mt-0">{{createdBy.firstName}} {{createdBy.lastName}}</h5>
              <p>
                {{content}}
              </p>
            </div>
            <p class="card-text small text-muted">{{formatDate createdAt}}</p>
          </div>
          {{!-- <div class="d-flex align-items-center mt-3">
            <a href="#" class="like-input me-3 position-relative">
              <i class="bi bi-hand-thumbs-up"></i> Like
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{reactCount}}
                <span class="visually-hidden">Total Likes</span>
              </span>
            </a>
          </div> --}}
        </div>
      </div>
      {{/each}}
      <!-- Old Comments -->
    </div>
  </div>
  <!-- Comment Section -->
</main>