<main class="container-fluid my-3 bg-light">
  <!-- Weekly News -->
  <div class="row">
    <div class="col-md-12">
      <h1 class="p-2 fw-bold">
        RISING THIS WEEK <i class="bi bi-graph-up-arrow text-primary"></i>
      </h1>
      <div id="carouselWeeklyNews" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselWeeklyNews" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselWeeklyNews" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselWeeklyNews" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          {{#each weeklyArticles}}
          <div class="carousel-item active">
            <div class="card">
              <div class="row g-0">
                <div class="col-md-7">
                  <img src="{{bannerImageUrl}}" class="d-block w-100 rounded-start">
                </div>
                <div class="col-md-5">
                  <div class="card-body">
                    <p class="card-text small text-muted">{{createdBy}} - {{publishedAt}}</p>
                    <h6 class="card-subtitle text-muted">
                      <a href="/search?category={{category.slug}}">
                        {{category.name}}
                      </a>
                    </h6>
                    <h5 class="card-title mb-2">
                      <a href="/{{slug}}">
                        {{title}}
                      </a>
                    </h5>
                    <p class="card-text small">
                      {{summary}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <!-- Weekly News -->

  <!-- Top 10 Categories -->
  <div class="row mt-2 g-2 overflow-auto flex-nowrap d-flex align-items-stretch">
    {{#each topArticles}}
    <div class="col-md-8">
      <div class="card">
        <div class="row g-0">
          <div class="col-md-5">
            <img src="{{bannerImageUrl}}" class="d-block w-100 h-100 rounded-start">
          </div>
          <div class="col-md-7 d-flex flex-column small">
            <div class="card-body">
              <h6 class="card-subtitle text-muted">
                <a href="/search?category={{category.slug}}">
                  {{category.name}}
                </a>
              </h6>
              <h6 class="card-title">
                <a href="/{{slug}}">
                  {{title}}
                </a>
              </h6>
              <p class="card-text">
                {{summary}}
              </p>
            </div>
            <div class="card-footer bg-white">
              <p class="card-text small text-muted">{{createdBy}} - {{publishedAt}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  <!-- Top 10 Categories -->

  <!-- All Category -->
  {{#with allCategories}}
  <div class="row mt-5">
    <div class="col-md-12">
      <!-- Category Name -->
      <h2 class="bg-dark p-2">
        <a class="link-light" href="/search?category={{category.slug}}">{{category.name}}</a>
      </h2>

      <!-- Latest News -->
      <div id="carouselLatestNews1" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselLatestNews1" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselLatestNews1" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselLatestNews1" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          {{#each mostViewed}}
          <div class="carousel-item active">
            <div class="card">
              <div class="row row-cols-2 g-0">
                <div>
                  <img src="{{bannerImageUrl}}" class="d-block w-100 rounded-start">
                </div>
                <div>
                  <div class="card-body">
                    <p class="card-text small text-muted">{{createdBy}} - {{publishedAt}}</p>
                    <h6 class="card-subtitle text-muted">
                      <a href="/search?category={{category.slug}}">
                        {{category.name}}
                      </a>
                    </h6>
                    <h5 class="card-title mb-2">
                      <a href="/{{slug}}">
                        {{title}}
                      </a>
                    </h5>
                    <p class="card-text small">
                      {{summary}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <!-- Latest News -->

      <!-- Most Popular -->
      <div class="mt-3">
        <h4 class="px-2">Trending now <i class="bi bi-fire text-danger"></i></h4>

        <div class="row d-flex flex-nowrap">
          {{#each latest}}
          <div class="card w-25">
            <img class="card-img-top w-100" src="{{bannerImageUrl}}" alt="Card image cap">
            <div class="card-body small">
              <h6 class="card-title">
                <a href="/{{slug}}">
                  {{title}}
                </a>
              </h6>
              <h6 class="card-subtitle mb-2 text-muted">
                {{#with category}}
                <a href="/search?category={{slug}}">
                  {{name}}
                </a>
                {{/with}}
              </h6>
              <p class="card-text">
                {{summary}}
              </p>
              <p class="card-text small text-muted">{{createdBy}} - {{publishedAt}}</p>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <!-- Most Popular -->
    </div>
  </div>
  {{/with}}
  <!-- All Category -->
</main>