<main class="container my-3 bg-light">
  <div>
    <span class="h2">
      SEARCHING
    </span>
    <i class="bi bi-info-circle-fill pop-me-over h6 text-secondary" tabindex="0" data-bs-toggle="popover"
      data-bs-trigger="hover" title="Search"
      data-bs-content="You can search articles by title, abstract, and content."></i>
  </div>

  <form action="/search" method="get">
    <!-- Search Bar & Filters -->
    {{#with searchParams}}
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <input type="search" name="queryString" class="form-control" placeholder="Search" id="search-input"
            value="{{query}}">
          <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </div>
    <div class="row row-cols-md-3 my-3">
      <!-- Time -->
      <div class="col">
        <div class="input-group">
          <label class="input-group-text" for="time">Time</label>
          <select class="form-select" name="time" id="time">
            <option value="">Choose...</option>
            <option value="day" {{#ifEquals time 'day' }} selected {{/ifEquals}}>Today</option>
            <option value="week" {{#ifEquals time 'week' }} selected {{/ifEquals}}>This week</option>
            <option value="month" {{#ifEquals time 'month' }} selected {{/ifEquals}}>This month</option>
          </select>
        </div>
      </div>
      <!-- Categories -->
      <div class="col">
        <div class="input-group">
          <label class="input-group-text" for="category">Category</label>
          <select class="form-select" name="category" id="category">
            <option value="">Choose...</option>
            {{#each categories}}
            <option value="{{name}}" {{#ifEquals ../category name}} selected {{/ifEquals}}>{{name}}</option>
            {{#each children}}
            <option value="{{name}}" {{#ifEquals ../category name}} selected {{/ifEquals}}>{{name}}</option>
            {{/each}}
            {{/each}}
          </select>
        </div>
      </div>
      <!-- Tags -->
      <div class="col">
        <div class="input-group">
          <label class="input-group-text" for="label">Tags</label>
          <select class="form-select" name="label" id="label">
            <option value="">Choose...</option>
            {{#each labels}}
            <option value="{{name}}" {{#ifEquals ../label name}} selected {{/ifEquals}}>{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    {{/with}}
    <!-- Search Bar & Filters -->

    <!-- List News Queried -->
    {{#each articles}}
    <div class="card mb-3 position-relative">
      <div class="row g-0">
        <div class="col-md-7 d-flex flex-column">
          <div class="card-body">
            <p class="card-text small text-muted">{{createdBy.penName}} - {{publishedAt}}</p>
            <h6 class="card-subtitle text-muted">
              <a href="/search?category={{category.name}}">
                {{category.name}}
              </a>
            </h6>
            <h5 class="card-title">
              <a href="/article/{{slug}}">
                {{title}}
              </a>
            </h5>
            <p class="card-text small">
              {{summary}}
            </p>
          </div>
          <div class="card-footer">
            <p class="card-text small text-muted">
              tags:
              {{#each labels}}
              <a href="/search?label={{name}}">{{name}}</a>
              {{/each}}
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="{{bannerImageUrl}}" class="d-block w-100 h-100 rounded-end">
        </div>
      </div>
      <!-- Premium Tag -->
      {{#if isPremium}}
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
        Excl
        <span class="visually-hidden">Premium Article</span>
      </span>
      {{/if}}
      <!-- Premium Tag -->
    </div>
    {{/each}}
    <!-- List News Queried -->

    <!-- Pagination -->
    <nav class="d-flex justify-content-center" aria-label="Page navigation">
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <a id="first" class="page-link" href="#">First</a>
        </li>
        {{#times totalPage}}
        <li class="page-item {{#ifEquals ../searchParams.page this}} active {{/ifEquals}}" aria-current="page">
          <a class="page-link" href="#">{{this}}</a>
        </li>
        {{/times}}
        <li class="page-item">
          <a id="last" class="page-link" href="#">Last</a>
        </li>
      </ul>
    </nav>
    <!-- Pagination -->
  </form>
</main>