<!-- User Info Modal -->
{{#with user}}
<div class="modal fade" tabindex="-1" id="modalUserInformation">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header pb-0 border-bottom-0">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body mx-3 pt-0">
        <form class="row g-3" method="post">
          <div class="col-md-12">
            <h5>PERSONAL INFO</h5>
          </div>

          <hr class="border border-2 border-dark m-0">

          <!-- Full Name -->
          {{#ifEquals role.name 'Writer'}}
          <div class="col-md-6">
            <label for="update-fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="update-fullname"
              value="{{firstName}} {{lastName}}">
          </div>
          <div class="col-md-6">
            <label for="update-penname" class="form-label">Pen Name</label>
            <input type="text" class="form-control" name="penname" id="update-penname" value="{{penName}}">
          </div>
          {{else}}
          {{#ifEquals role.name 'Editor'}}
          <div class="col-md-6">
            <label for="update-fullname" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="update-fullname"
              value="{{firstName}} {{lastName}}">
          </div>
          <div class="col-md-6">
            <label for="update-categoryname" class="form-label">Category Name</label>
            <input type="text" class="form-control" id="update-categoryname" value="{{category.name}}" disabled>
          </div>
          {{else}}
          <div class="col-md-6">
            <label for="update-firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" name="firstName" id="update-firstname" value="{{firstName}}">
          </div>
          <div class="col-md-6">
            <label for="update-lastname" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="update-lastname" value="{{lastName}}">
          </div>
          {{/ifEquals}}
          {{/ifEquals}}

          <!-- Additional Info -->
          <div class="col-md-6">
            <label for="update-dob" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" name="dob" id="update-dob" value="{{dateOfBirth}}" />
          </div>
          <div class="col-md-6">
            <label for="update-gender" class="form-label">Gender</label><br>
            <select class="form-select" name="gender" id="update-gender">
              <option value="">Select your gender</option>
              <option value="female" {{#ifEquals gender 'female' }} selected {{/ifEquals}}>Female</option>
              <option value="male" {{#ifEquals gender 'male' }} selected {{/ifEquals}}>Male</option>
              <option value="other" {{#ifEquals gender 'other' }} selected {{/ifEquals}}>Other</option>
            </select>
          </div>

          <div class="col-md-12">
            <h5>ACCOUNT INFO</h5>
          </div>

          <hr class="border border-2 border-dark m-0">

          <!-- Email Input -->
          <div {{#ifEquals role.name 'Subscriber' }} class="col-md-6" {{else}} class="col-md-12" {{/ifEquals}}>
            <label for="update-email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="update-email" value="{{email}}" disabled>
          </div>

          {{#ifEquals role.name 'Subscriber'}}
          <!-- Premium Expiration -->
          <div class="col-md-6">
            <label for="update-premium" class="form-label">
              Premium Expiration
              <!-- Extend Premium Modal Trigger -->
              <a href="#" data-bs-toggle="modal" data-bs-target="#modalExtendPremium">
                <i class="bi bi-info-circle-fill"></i>
              </a>
            </label>
            <input type="date" class="form-control" id="update-premium" value="{{subscriptionExpiryDate}}" disabled />
          </div>
          {{/ifEquals}}

          <!-- Change Password -->
          <div class="col-md-6">
            <label for="update-password" class="form-label">New Password</label>
            <input type="password" class="form-control" name="password" id="update-password"
              placeholder="Enter new password">
          </div>
          <div class="col-md-6">
            <label for="update-repassword" class="form-label">Re-password</label>
            <input type="password" class="form-control" name="repassword" id="update-repassword"
              placeholder="Re-enter new password">
          </div>
          <div class="modal-footer justify-content-center p-0">
            <button type="submit" class="btn" data-bs-dismiss="modal" aria-label="Save changes">Save
              Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{/with}}
<!-- User Info Modal -->