<main class="container my-3 bg-light">
  <form {{#if article}} action="/writer/edit" {{else}} action="/writer/create" {{/if}} method="post">
    <!-- Editor Feedback Section -->
    {{#with article}}
    <input name="id" value="{{id}}" hidden>

    <div class="row">
      <div class="col-md-12">
        <h2 class="text-light bg-dark p-2">
          Editor Feedback
        </h2>
        <textarea id="editor-feedback" class="w-100" rows="7" disabled>
          {{note}}
        </textarea>
      </div>
    </div>
    {{/with}}
    <!-- Editor Feedback Section -->

    <!-- WYSIWYG Section (TinyMCE) -->
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-light bg-dark p-2">
          Newsroom
        </h2>
        <textarea id="writer-editor" class="w-100" rows="10" name="content" required>
          {{article.content}}
        </textarea>
      </div>
    </div>
    <!-- WYSIWYG Section (TinyMCE) -->

    <!-- Preview Section -->
    <div class="row mt-3">
      <div class="col-md-12">
        <!-- Category Name -->
        <h2 class="text-light bg-dark p-2">
          Preview Article
        </h2>

        <div class="card">
          <div class="row g-0">
            <div class="col-md-7 d-flex flex-column">
              <div class="card-body">
                <p id="created-date" class="card-text small text-muted">{{user.penName}}</p>
                <select id="category" name="category" class="form-select card-subtitle" required>
                  <option value="">Choose category...</option>
                  {{#each categories}}
                  <option value="{{name}}" {{#ifEquals @root.article.category.name name}} selected {{/ifEquals}}>
                    {{name}}</option>
                  {{#each children}}
                  <option value="{{name}}" {{#ifEquals @root.article.category.name name}} selected {{/ifEquals}}>
                    {{name}}</option>
                  {{/each}}
                  {{/each}}
                </select>
                <input class="form-control card-title" name="title" style="font-size: 1.25rem; font-weight: 500;"
                  placeholder="Title" {{#with article}} value="{{title}}" {{/with}} required>
                </input>
                <input class="form-control card-text" name="summary" placeholder="Abstract" {{#with article}}
                  value="{{summary}}" {{/with}} required>
                </input>
                {{!-- <p class="card-text small text-muted">{{user.penName}} - {{createdAt}}</p>
                <h6 class="card-subtitle tinymce-heading text-muted">
                  {{category}}
                </h6>
                <h5 class="card-title tinymce-heading">
                  {{title}}
                </h5>
                <p class="card-text tinymce-body">{{summary}}</p> --}}
              </div>
              <div class="card-footer">
                {{!-- <p class="card-text small text-muted">
                  <span class="fw-semibold">
                    tags:
                  </span>
                  <span class="tinymce-heading">
                    {{label}}
                  </span>
                </p> --}}
                <div class="input-group input-group-sm">
                  <label class="card-text small text-muted fw-semibold p-2" for="label">tags:</label>
                  <select id="label" name="label" class="form-select" multiple required>
                    <option value="">Choose...</option>
                    {{#each labels}}
                    <option value="{{name}}" {{#ifEquals @root.article.label.name name}} selected {{/ifEquals}}>{{name}}
                    </option>
                    {{/each}}
                  </select>
                </div>
              </div>
            </div>
            <div {{!-- id="tinymce-img" --}}
              class="col-md-5 d-flex justify-content-center align-items-center flex-column">
              <img id="preview" {{#with article}} src="{{bannerImageUrl}}" {{/with}}>
              <label for="uploadImage" class="btn btn-primary px-5">Upload Image</label>
              <input id="uploadImage" name="bannerImageUrl" type="file" onChange="previewImg(event)"
                accept="image/png, image/jpeg" hidden required>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Preview Section -->
    <div class="text-center border-top p-2 mt-3">
      <button type="submit" id="publish-btn" class="btn px-5">{{#if article}} Update {{else}} Publish {{/if}}</button>
    </div>
  </form>
</main>