<main class="container my-3 bg-light">
  <div>
    <span class="h2">
      SEARCHING
    </span>
    <i class="bi bi-info-circle-fill pop-me-over h6 text-secondary" tabindex="0" data-bs-toggle="popover"
      data-bs-trigger="hover" title="Search"
      data-bs-content="You can search articles by title, abstract, and full-text."></i>
  </div>
  <!-- Search Bar with Filters -->
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search">
          <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </div>
    <div class="row row-cols-md-3 my-3">
      <div class="col">
        <div class="input-group">
          <label class="input-group-text" for="status">Status</label>
          <select class="form-select" name="status" id="status">
            <option value="" selected>Choose...</option>
            <option value="rejected">Rejected</option>
            <option value="approved">Approved</option>
            <option value="pending">Pending</option>
            <option value="published">Published</option>
          </select>
        </div>
      </div>
      <!-- Categories -->
      <div class="col">
        <div class="input-group">
          <label class="input-group-text" for="category">Category</label>
          <select class="form-select" name="category" id="category">
            <option value="" selected>Choose...</option>
            {{#each categories}}
            <option value="{{slug}}">{{name}}</option>
            {{#each children}}
            <option value="{{slug}}">{{name}}</option>
            {{/each}}
            {{/each}}
          </select>
        </div>
      </div>
      <!-- Tags -->
      <div class="col">
        <div class="input-group">
          <label class="input-group-text" for="label">Tags</label>
          <select class="form-select" name="label" id="label">
            <option value="" selected>Choose...</option>
            {{#each labels}}
            <option value="{{slug}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
  </form>
  <!-- Search Bar with Filters -->

  <!-- List News Queried -->
  <!-- Page 1 -->
  <div id="group-1">
    {{#each articles}}
    <div class="card mb-3 position-relative">
      <div class="row g-0">
        <div class="col-md-7 d-flex flex-column">
          <div class="card-body">
            <p class="card-text small text-muted">{{createdBy}} - {{createdAt}}</p>
            <h6 class="card-subtitle text-muted">
              {{#with category}}
              <a href="/search?category={{slug}}">
                {{name}}
              </a>
              {{/with}}
            </h6>
            <h5 class="card-title">
              <a href="/{{slug}}">
                {{title}}
              </a>
            </h5>
            <p class="card-text small">
              {{summary}}
            </p>
          </div>
          <div class="card-footer">
            <p class="card-text small text-muted">
              tags:
              {{#each labels}}
              <a href="/search?label={{slug}}">{{name}}</a>
              {{/each}}
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="{{bannerImageUrl}}" class="d-block w-100 h-100 rounded-end">
        </div>
      </div>
      <!-- Status Tag -->
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        {{status}}
        <span class="visually-hidden">{{status}} Article</span>
      </span>
      <!-- Status Tag -->
    </div>
    {{/each}}
  </div>
  <!-- Page 1 -->

  <!-- Page 2 -->
  {{!-- <div id="group-2">
    <div class="card mb-3 position-relative">
      <div class="row g-0">
        <div class="col-md-7 d-flex flex-column">
          <div class="card-body">
            <p class="card-text small text-muted">Anh Tu - May 3rd, 2023</p>
            <h6 class="card-subtitle text-muted">
              <a href="reporter_list.html">
                Business
              </a>
            </h6>
            <h5 class="card-title">
              <a href="reporter_edit.html">
                Southern industrial real estate occupancy down in Q1
              </a>
            </h5>
            <p class="card-text small">Occupancy rates of all southern industrial real estate segments
              decreased in the first quarter of this year due to economic difficulties, according to property
              consultancy Cushman & Wakefield Vietnam.</p>
          </div>
          <div class="card-footer">
            <p class="card-text small text-muted">
              tags:
              <a href="reporter_list.html">industries</a>
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="public/images/eco2.jpg" class="d-block w-100 h-100 rounded-end">
        </div>
      </div>
      <!-- Status Tag -->
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
        Published
        <span class="visually-hidden">Published Article</span>
      </span>
      <!-- Status Tag -->
    </div>
    <div class="card mb-3 position-relative">
      <div class="row g-0">
        <div class="col-md-7 d-flex flex-column">
          <div class="card-body">
            <p class="card-text small text-muted">AFP - May 2nd, 2023</p>
            <h6 class="card-subtitle text-muted">
              <a href="reporter_list.html">
                Transaction
              </a>
            </h6>
            <h5 class="card-title">
              <a href="reporter_edit.html">
                Dollar continues to fall on black market
              </a>
            </h5>
            <p class="card-text small">The U.S. dollar dropped against the Vietnamese dong on the black market
              Tuesday morning.</p>
          </div>
          <div class="card-footer">
            <p class="card-text small text-muted">
              tags: <a href="reporter_list.html">dollar</a>
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="public/images/eco3.jpg" class="d-block w-100 h-100 rounded-end">
        </div>
      </div>
      <!-- Status Tag -->
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
        Unapproved
        <span class="visually-hidden">Unapproved Article</span>
      </span>
      <!-- Status Tag -->
    </div>
    <div class="card mb-3 position-relative">
      <div class="row g-0">
        <div class="col-md-7 d-flex flex-column">
          <div class="card-body">
            <p class="card-text small text-muted">Reuters - May 2nd, 2023</p>
            <h6 class="card-subtitle text-muted">
              <a href="reporter_list.html">
                Agriculture
              </a>
            </h6>
            <h5 class="card-title">
              <a href="reporter_edit.html">
                Durian prices plunge 40% in a month
              </a>
            </h5>
            <p class="card-text small">Ri6 durian prices grown in the Mekong Delta have plunged by 30-40% to
              VND50,000-55,000 ($2.13-2.34) per kilogram from early April.</p>
          </div>
          <div class="card-footer">
            <p class="card-text small text-muted">
              tags:
              <a href="reporter_list.html">fruit</a>
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="public/images/eco4.jpg" class="d-block w-100 h-100 rounded-end">
        </div>
      </div>
      <!-- Status Tag -->
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-dark">
        Unapproved
        <span class="visually-hidden">Unapproved Article</span>
      </span>
      <!-- Status Tag -->
    </div>
  </div>
  <!-- Page 2 -->

  <!-- Page 3 -->
  <div id="group-3">
    <div class="card mb-3 position-relative">
      <div class="row g-0">
        <div class="col-md-7 d-flex flex-column">
          <div class="card-body">
            <p class="card-text small text-muted">Reuters - May 3rd, 2023</p>
            <h6 class="card-subtitle text-muted">
              <a href="reporter_list.html">
                Exportation
              </a>
            </h6>
            <h5 class="card-title">
              <a href="reporter_edit.html">
                Exports down 12% in four months
              </a>
            </h5>
            <p class="card-text small">Vietnam's exports totaled US$108.57 billion in the first four months of
              this year, a year-on-year decrease of 11.8%, the General Statistics Office announced.</p>
          </div>
          <div class="card-footer">
            <p class="card-text small text-muted">
              tags:
              <a href="reporter_list.html">foreign</a>
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="public/images/eco1.jpg" class="d-block w-100 h-100 rounded-end">
        </div>
      </div>
      <!-- Status Tag -->
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
        Published
        <span class="visually-hidden">Published Article</span>
      </span>
      <!-- Status Tag -->
    </div>
  </div> --}}
  <!-- Page 3 -->
  <!-- List News Queried -->

  <!-- Pagination -->
  <nav class="d-flex justify-content-center" aria-label="Page navigation">
    <ul class="pagination pagination-sm">
      <li class="page-item">
        <a id="first" class="page-link" href="#">
          <span aria-hidden="true">&laquo;</span> First
        </a>
      </li>
      <li class="page-item" aria-current="page">
        <a class="page-link active" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a id="last" class="page-link next" href="#">
          Last <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- Pagination -->
</main>