<main class="container my-3 bg-light">
  <div>
    <span class="h2">
      SEARCHING
    </span>
    <i class="bi bi-info-circle-fill pop-me-over h6 text-secondary" tabindex="0" data-bs-toggle="popover"
      data-bs-trigger="hover" data-bs-content="Full-text Search."></i>
  </div>

  <form action="/writer/search" method="get">
    <!-- Search Bar -->
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search" value="{{searchParams.query}}">
          <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </div>
    <!-- Filters -->
    <div class="row row-cols-md-3 my-3">
      <!-- Status -->
      <div class="col">
        <div class="input-group">
          <label class="input-group-text" for="status">Status</label>
          <select class="form-select" name="status" id="status">
            <option value="" selected>Choose...</option>
            <option value="Rejected" {{#ifEquals searchParams.status 'Rejected' }} selected {{/ifEquals}}>Rejected
            </option>
            <option value="Approved" {{#ifEquals searchParams.status 'Approved' }} selected {{/ifEquals}}>Approved
            </option>
            <option value="Pending" {{#ifEquals searchParams.status 'Pending' }} selected {{/ifEquals}}>Pending</option>
            <option value="Published" {{#ifEquals searchParams.status 'Published' }} selected {{/ifEquals}}>Published
            </option>
          </select>
        </div>
      </div>
      <!-- Categories -->
      <div class="col">
        <div class="input-group">
          <label class="input-group-text" for="category">Category</label>
          <select class="form-select" name="category" id="category">
            <option value="">Choose...</option>
            {{#each categories}}
            <option value="{{name}}" {{#ifEquals @root.searchParams.category name}} selected {{/ifEquals}}>{{name}}
            </option>
            {{#each children}}
            <option value="{{name}}" {{#ifEquals @root.searchParams.category name}} selected {{/ifEquals}}>{{name}}
            </option>
            {{/each}}
            {{/each}}
          </select>
        </div>
      </div>
      <!-- Tags -->
      <div class="col">
        <div class="input-group">
          <label class="input-group-text" for="label">Tags</label>
          <select class="form-select" name="label" id="label">
            <option value="">Choose...</option>
            {{#each labels}}
            <option value="{{name}}" {{#ifEquals @root.searchParams.label name}} selected {{/ifEquals}}>{{name}}
            </option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>

    <!-- List News Queried -->
    {{#each articles}}
    <div class="card mb-3 position-relative">
      <div class="row g-0">
        <div class="col-md-7 d-flex flex-column">
          <div class="card-body">
            <p class="card-text small text-muted">{{createdBy.penName}} - {{formatDate publishedAt}}</p>
            <h6 class="card-subtitle text-muted">
              <a href="/writer/search?category={{category.name}}">
                {{category.name}}
              </a>
            </h6>
            <h5 class="card-title">
              <a href="/article/{{slug}}">
                {{title}}
              </a>
              {{#ifEquals status 'Pending'}}
              <a href="/writer/edit/{{slug}}">
                <i class="bi bi-pencil-square" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover"
                  data-bs-content="Edit Article"></i>
              </a>
              {{/ifEquals}}
              {{#ifEquals status 'Rejected'}}
              <a href="/writer/edit/{{slug}}">
                <i class="bi bi-pencil-square" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover"
                  data-bs-content="Edit Article"></i>
              </a>
              {{/ifEquals}}
            </h5>
            <p class="card-text small">
              {{summary}}
            </p>
          </div>
          <div class="card-footer">
            <p class="card-text small text-muted">
              tags:
              {{#each labels}}
              <a href="/writer/search?label={{name}}">{{name}}</a>
              {{/each}}
            </p>
          </div>
        </div>
        <div class="col-md-5">
          <img src="{{bannerImageUrl}}" class="d-block w-100 h-100 rounded-end">
        </div>
      </div>
      <!-- Status Tag -->
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill
      {{#ifEquals status 'Published'}} bg-success {{/ifEquals}} 
      {{#ifEquals status 'Approved'}} bg-success {{/ifEquals}} 
      {{#ifEquals status 'Rejected'}} bg-danger {{/ifEquals}} 
      {{#ifEquals status 'Pending'}} bg-dark {{/ifEquals}}">
        {{status}}
        <span class="visually-hidden">Article Status</span>
      </span>

      <!-- Status Tag -->
    </div>
    {{/each}}
    <!-- List News Queried -->

    <!-- Pagination -->
    <nav class="d-flex justify-content-center" aria-label="Search navigation">
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <a id="first" class="page-link" href="#">First</a>
        </li>
        {{#times totalPage}}
        <li class="page-item {{#ifEquals @root.searchParams.page this}} active {{/ifEquals}}" aria-current="page">
          <a class="page-link" href="#">{{this}}</a>
        </li>
        {{/times}}
        <li class="page-item">
          <a id="last" class="page-link" href="#">Last</a>
        </li>
      </ul>
    </nav>
  </form>
  <!-- Pagination -->
</main>