<body class="container-fluid">
  <div class="e_Content_Details container">
    {{#with article}}
    <!-- Detail -->
    <div class="post-detail col-md-9">
      <!-- Category and Date Time -->
      <div class="row row-cols-2">
        <div class="col text-start small back-to-list">
            <a href="/search?category={{category.name}}" class="text-decoration-none">
              {{category.name}}
            </a>
        </div>
        <div class="col text-end small">
          <p class="text-muted">
            {{formatDate publishedAt}}
          </p>
        </div>
      </div>

      <!-- Title and Content -->
      <div class="row">
          <h2>
            {{title}}
            <a href="/pdf/{{slug}}" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover" title="Download PDF">
              <i class="bi bi-download"></i>
            </a>
          </h2>
        <p>
          {{summary}}
        </p>
        <br>
        <img src="{{bannerImageUrl}}" width="70%" height="" style="margin: auto" />
        <br>
        <p>{{content}}</p>
      </div>

      <!-- Tags and Reporter -->
      <div class="row row-cols-2">
        <div class="col text-start small">
          <span>tags: </span>
            {{#each labels}}
            <a href="/search?label={{name}}" class="text-decoration-none">
              {{name}}
            </a>
            {{/each}}
        </div>
        <div class="col text-end">
          <p class="fw-bold">
            {{createdBy.penName}}
          </p>
        </div>
      </div>
    </div>
    <!-- Detail -->
    <div class="post action">
      <button type="button" class="btn btn-danger btn-disapprove" data-post-id="{{slug}}">Từ chối</button>
      <button type="button" class="btn btn-success btn-approve" data-post-id="{{slug}}">Duyệt</button>
    </div>
    {{/with}}
  </div>

  <script>
    var site_list = false;
    var site_detail = true;
    var site_disapprove = false;
    var site_approve = false;
  </script>
  <script src="/js/editor.js"></script>
</body>
