<body class="container-fluid">
  <div>
    <span class="h2">
      SEARCHING
    </span>
    <i class="bi bi-info-circle-fill pop-me-over h6 text-secondary" tabindex="0" data-bs-toggle="popover"
      data-bs-trigger="hover" data-bs-content="Full-text Search."></i>
  </div>

  <form action="/editor/list" method="get">
    <!-- Search Bar -->
    <div class="row">
      <div class="col-md-12">
        <div class="input-group">
          <input type="search" name="query" class="form-control" placeholder="Search" id="search-input"
            value="{{searchParams.query}}">
          <button class="btn btn-outline-secondary" type="submit"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </div>
    <!-- Filters -->
    <div class="row my-2">
      <!-- Time -->
      <div class="col-md-3 my-2">
        <div class="input-group">
          <label class="input-group-text" for="articleStatus">Status</label>
          <select class="form-select" name="status" id="articleStatus">
            <option value="">All</option>
            <option value="Approved" {{#ifEquals searchParams.status 'Approved' }} selected {{/ifEquals}}>Approved</option>
            <option value="Rejected" {{#ifEquals searchParams.status 'Rejected' }} selected {{/ifEquals}}>Rejected</option>
          </select>
        </div>
      </div>
      <!-- Search In -->
      <div class="col-md-3 my-2">
        <div class="input-group">
          <label class="input-group-text" for="field">Search in</label>
          <select class="form-select" name="field" id="field">
            <option value="all" selected>All</option>
            <option value="title">Title</option>
            <option value="abstract">Abstract</option>
            <option value="body">Body</option>
          </select>
        </div>
      </div>
      <!-- Categories -->
      <div class="col-md-3 my-2">
        <div class="input-group">
          <label class="input-group-text" for="category">Category</label>
          <select class="form-select" name="category" id="category">
            <option value="">All</option>
            {{#each categories}}
            <option value="{{name}}" {{#ifEquals @root.searchParams.category name}} selected {{/ifEquals}}>{{name}}</option>
            {{#each children}}
            <option value="{{name}}" {{#ifEquals @root.searchParams.category name}} selected {{/ifEquals}}>{{name}}</option>
            {{/each}}
            {{/each}}
          </select>
        </div>
      </div>
      <!-- Tags -->
      <div class="col-md-3 my-2">
        <div class="input-group">
          <label class="input-group-text" for="label">Tags</label>
          <select class="form-select" name="label" id="label">
            <option value="">All</option>
            {{#each labels}}
            <option value="{{name}}" {{#ifEquals @root.searchParams.label name}} selected {{/ifEquals}}>{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>

    <!-- List News Queried -->
    {{#each articles}}
    <div class="card mb-3 position-relative">
      <div class="row g-0">
        <div class="col-md-7 d-flex flex-column order-md-1 order-2">
          <div class="card-body">
            <p class="card-text small text-muted">{{createdBy.penName}} - {{formatDate publishedAt}}</p>
            <h6 class="card-subtitle text-muted">
              <a href="/editor/list?category={{category.name}}">
                {{category.name}}
              </a>
            </h6>
            <h5 class="card-title">
              <a href="/editor/detail/{{slug}}">
                {{title}}
              </a>
            </h5>
            <p class="card-text small">
              {{summary}}
            </p>
          </div>
          <div class="card-footer">
            <p class="card-text small text-muted">
              tags:
              {{#each labels}}
              <a href="/editor/list?label={{name}}">{{name}}</a>
              {{/each}}
            </p>
          </div>
        </div>
        <div class="col-md-4 order-md-2 order-1">
          <img src="{{bannerImageUrl}}" class="d-block w-100 h-100 rounded-2">
        </div>
        <div class="col-md-1 d-grid post-btn-del">
          <a href="/editor/disapprove/{{slug}}" class="btn btn-danger btn-block">
            <i class="bi bi-trash"></i>
          </a>
        </div>
      </div>
      <!-- Premium Tag -->
      {{#if isPremium}}
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
        Excl
        <span class="visually-hidden">Premium Article</span>
      </span>
      {{/if}}
      <!-- Premium Tag -->
    </div>    
    {{/each}}
    <!-- List News Queried -->

    <!-- Pagination -->
    <nav class="d-flex justify-content-center" aria-label="Search navigation">
      <ul class="pagination pagination-sm">
        <li class="page-item">
          <a id="first" class="page-link" href="#">First</a>
        </li>
        {{#times totalPage}}
        <li class="page-item {{#ifEquals @root.searchParams.page this}} active {{/ifEquals}}" aria-current="page">
          <a class="page-link" href="#">{{this}}</a>
        </li>
        {{/times}}
        <li class="page-item">
          <a id="last" class="page-link" href="#">Last</a>
        </li>
      </ul>
    </nav>
    <!-- Pagination -->
  </form>

  <script>
    var site_list = true;
    var site_detail = false;
    var site_disapprove = false;
    var site_approve = false;
  </script>

  <script>
    window.posts = []
    {{#each articles}}
    {{#ifEquals status "Draft"}}      
      var article = {
        id: "{{slug}}",
        reporter: "{{publishedBy.lastName}} {{publishedBy.firstName}}",
        title: "{{title}}",
        abstract: "{{summary}}",
        details: "{{content}}",
        category: "{{category.name}}",
        datetime: "{{publishedAt}}",
        image: "{{bannerImageUrl}}",
        status: "{{status}}",
      };

      article.tags = [];
      {{#each labels}}
        article.tags.push("{{name}}");
      {{/each}}

      window.posts.push(article);
    {{/ifEquals}}
    {{/each}}    
  </script>

  <script src="/js/editor.js"></script>
</body>